## 문제
패밀리 레스토랑에 가서, 여러 개의 테이블에 사람을 나누어 앉게 하려고 합니다. <br>
이때, 한 사람만 앉는 테이블이 없게 그룹을 지어야 합니다.<br>
인원수를 나누는 패턴만 구하면 되며, 누가 어디에 앉는지 등은 고려하지 않아도 괜찮습니다. <br>
예를 들어 6명이라면, 다음과 같은 4가지가 됩니다.<br>
 * 2명 + 2명 + 2명
 * 2명 + 4명
 * 3명 + 3명
 * 6명
 
 한 개의 테이블에 앉을 수 있는 사람은 최대 10명입니다.<br>
 100명이 하나 이상의 테이블에 나누어 앉는 패턴을 구하세요

In [5]:
M = 10
N = 100

In [6]:
def check(remain, pre):
    if remain < 0:
        return 0
    elif remain == 0:
        return 1
    
    # 재귀적 처리
    cnt = 0
    for i in range(pre, M + 1):
        cnt += check(remain - i, i)
    return cnt

In [7]:
print(check(6,2),'가지')

4 가지

In [3]:
print(check(N,2),'가지')

437420 가지

사람 수가 많아지면 처리 시간이 매우 오래 걸리기 때문에 한 번 계산한 결과를 메모해두고, 필요할 때 새로 계산하지 않고 사용해봅시다.<br>

In [8]:
memo = {}
def check(remain, pre):
    # 이전에 계산한 적이 있다면, 메모했던 값을 반환
    key = str([remain, pre])
    if key in memo:
        return memo[key]
    
    # 배치할 사람이 더 이상 없으면 종료
    if remain < 0:
        return 0
    elif remain == 0:
        return 1
    
    # 재귀적 처리
    cnt = 0
    for i in range(pre, M + 1):
        cnt += check(remain - i, i)
    # 계산 결과를 메모하면서 반환
    memo[key] = cnt
    return cnt

In [9]:
print(check(N,2),'가지')

437420 가지

이중 반복문 사용

In [43]:
M = 10
N = 100
table = [0] * (M + 1)

In [44]:
table

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [45]:
for i in range(0, M + 1):
    table[i] = [0] * (N + 1)
    table[i][0] = 1

In [16]:
import pandas as pd

In [25]:
tableView = pd.DataFrame(table)
tableView

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
for i in range(1, M + 1):
    for j in range(2, N + 1):
        if((i >= 2) and (j >= i)):
            table[i][j] = table[i][j - i]
        if i > 2:
            table[i][j] += table[i - 1][j]

In [49]:
table[M][N]

437420

In [50]:
tableView = pd.DataFrame(table)
tableView

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,1,0,1,0,1,0,1,0,...,0,1,0,1,0,1,0,1,0,1
3,1,0,1,1,1,1,2,1,2,2,...,15,16,16,16,16,17,16,17,17,17
4,1,0,1,1,2,1,3,2,4,3,...,184,200,192,208,200,217,208,225,217,234
5,1,0,1,1,2,2,3,3,5,5,...,1302,1349,1384,1432,1469,1519,1557,1609,1649,1703
6,1,0,1,1,2,2,4,3,6,6,...,5967,6264,6460,6768,6977,7308,7524,7873,8109,8471
7,1,0,1,1,2,2,4,4,6,7,...,20372,21399,22409,23514,24602,25795,26965,28245,29508,30880
8,1,0,1,1,2,2,4,4,7,7,...,54924,58199,61338,64919,68363,72277,76043,80312,84432,89079
9,1,0,1,1,2,2,4,4,7,8,...,123634,131676,139993,148913,158154,168062,178295,189262,200607,212713
10,1,0,1,1,2,2,4,4,7,8,...,240546,257902,275782,295306,315431,337368,359973,384558,409917,437420

오류해결하기<br>
### "RecursionError: maximum recursion depth exceeded in comparision"
함수가 함수를 호출하는 과정에서 내부적으로 너무 많은 스택이 형성되어 발생하는 오류!<br>
파이썬은 기본적으로 이 한도를 1,000으로 설정하기 때문에 조금 복잡한 문제를 풀다보면 이러한 오류가 발생할 수 있습니다. 이 경우 다음과 같이 한도를 늘려 오류를 해결할 수 있습니다.
<br><br><br>
import sys

recursion_limit = sys.getrecursionlimit()
print(recursion_limit)

sys.setrecursionlimit(10000)