In [2]:
cd D:\Algorithm_Study

D:\Algorithm_Study

In [39]:
import pandas as pd
import numpy as np

In [160]:
day = pd.read_csv('day.csv',encoding = 'ms949')

In [161]:
day

     요일별      일      월      화      수      목      금      토
0    강력범    103    114    119    105    124    121    115
1    절도범    909    900    835    824    864    954    928
2    폭력범  1,369  1,107  1,193  1,207  1,206  1,283  1,435
3    지능범    726  1,399  1,319  1,410  1,374  1,421    843
4    풍속범     17     37     39     20     28     24     30
5  기타형법범    285    396    364    456    436    429    299
6   특별법범  2,173  2,963  3,055  3,005  2,966  3,165  2,490

In [163]:
array1 = np.array(day)

In [164]:
array1

array([['강력범', '103', '114', '119', '105', '124', '121', '115'],
       ['절도범', '909', '900', '835', '824', '864', '954', '928'],
       ['폭력범', '1,369', '1,107', '1,193', '1,207', '1,206', '1,283',
        '1,435'],
       ['지능범', '726', '1,399', '1,319', '1,410', '1,374', '1,421', '843'],
       ['풍속범', '17', '37', '39', '20', '28', '24', '30'],
       ['기타형법범', '285', '396', '364', '456', '436', '429', '299'],
       ['특별법범', '2,173', '2,963', '3,055', '3,005', '2,966', '3,165',
        '2,490']], dtype=object)

* 콤마 제거하기

In [182]:
for i in range(len(array1)):
    for j in range(len(array1[i])):
        array1[i][j] = array1[i][j].replace(",","")

In [183]:
array1

array([['강력범', '103', '114', '119', '105', '124', '121', '115'],
       ['절도범', '909', '900', '835', '824', '864', '954', '928'],
       ['폭력범', '1369', '1107', '1193', '1207', '1206', '1283', '1435'],
       ['지능범', '726', '1399', '1319', '1410', '1374', '1421', '843'],
       ['풍속범', '17', '37', '39', '20', '28', '24', '30'],
       ['기타형법범', '285', '396', '364', '456', '436', '429', '299'],
       ['특별법범', '2173', '2963', '3055', '3005', '2966', '3165', '2490']],
      dtype=object)

In [184]:
day1 = pd.DataFrame(array1)

In [205]:
day1

       0     1     2     3     4     5     6     7
0    강력범   103   114   119   105   124   121   115
1    절도범   909   900   835   824   864   954   928
2    폭력범  1369  1107  1193  1207  1206  1283  1435
3    지능범   726  1399  1319  1410  1374  1421   843
4    풍속범    17    37    39    20    28    24    30
5  기타형법범   285   396   364   456   436   429   299
6   특별법범  2173  2963  3055  3005  2966  3165  2490

In [229]:
day1.loc[0][1:8].astype('int')

1    103
2    114
3    119
4    105
5    124
6    121
7    115
Name: 0, dtype: int32

In [241]:
day1[1].astype('int')+day1[2].astype('int')

0     217
1    1809
2    2476
3    2125
4      54
5     681
6    5136
dtype: int32

* 범죄별 합계 컬럼만들기

In [243]:
total = 0
for i in range(7):
    total += day1[i+1].astype('int')

In [244]:
total

0      801
1     6214
2     8800
3     8492
4      195
5     2665
6    19817
Name: 1, dtype: int32

In [232]:
sum(day1.loc[0][1:8].astype('int')) #걍력범 합계

801

In [245]:
day1['계'] = total

In [246]:
day1

       0     1     2     3     4     5     6     7      계
0    강력범   103   114   119   105   124   121   115    801
1    절도범   909   900   835   824   864   954   928   6214
2    폭력범  1369  1107  1193  1207  1206  1283  1435   8800
3    지능범   726  1399  1319  1410  1374  1421   843   8492
4    풍속범    17    37    39    20    28    24    30    195
5  기타형법범   285   396   364   456   436   429   299   2665
6   특별법범  2173  2963  3055  3005  2966  3165  2490  19817

In [248]:
sum(day1[1].astype('int')) #일요일 합계

5582

<br>
<br>

In [252]:
day.T

       0    1      2      3    4      5      6
요일별  강력범  절도범    폭력범    지능범  풍속범  기타형법범   특별법범
일    103  909  1,369    726   17    285  2,173
월    114  900  1,107  1,399   37    396  2,963
화    119  835  1,193  1,319   39    364  3,055
수    105  824  1,207  1,410   20    456  3,005
목    124  864  1,206  1,374   28    436  2,966
금    121  954  1,283  1,421   24    429  3,165
토    115  928  1,435    843   30    299  2,490

In [253]:
day2 = day.T

In [254]:
day2.ix[0]

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

0      강력범
1      절도범
2      폭력범
3      지능범
4      풍속범
5    기타형법범
6     특별법범
Name: 요일별, dtype: object

In [249]:
import matplotlib.pyplot as plt

In [ ]:
plt.title('요일별 범죄빈도')
ax = sns.lineplot(x="시간", y="계",hue='0',data=day1)
ax.legend(bbox_to_anchor=(1.1,1.05))