In [1]:
import pymysql
pymysql.install_as_MySQLdb()
%load_ext sql
%sql mysql://root:hannam@localhost/galaxy

C:\Users\dydeh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xB4\\xEB\\xC7\\xD1\\xB9\\xCE...' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)

'Connected: root@galaxy'

In [14]:
%%sql
create table cart_products(
    cart_id int,
    name varchar(20)
)

 * mysql://root:***@localhost/galaxy
0 rows affected.

[]

In [18]:
%%sql
insert into cart_products values(83, "요거트")
# insert into cart_products values(83, "빵")
# insert into cart_products values(83, "과자")
# insert into cart_products values(324, "우유")
# insert into cart_products values(324, "방")
# insert into cart_products values(324, "꽈자")
# insert into cart_products values(222, "떡")
# insert into cart_products values(222, "초콜릿")
# insert into cart_products values(222, "커피")
# insert into cart_products values(44, "우유")
# insert into cart_products values(44, "요거트")
# insert into cart_products values(33, "요거트")
# insert into cart_products values(33, "요거트")
# insert into cart_products values(11, "우유")
# insert into cart_products values(11, "우유")
# insert into cart_products values(22, "커피")
# insert into cart_products values(22, "요거트")
# insert into cart_products values(566, "우유")
# insert into cart_products values(566, "요거트")
# insert into cart_products values(66, "조지아")
# insert into cart_products values(66, "양파링")
# insert into cart_products values(66, "제육")
# insert into cart_products values(2, "우유")

 * mysql://root:***@localhost/galaxy
1 rows affected.

[]

In [19]:
%%sql
select * from cart_products;

 * mysql://root:***@localhost/galaxy
2 rows affected.

[(83, '요거트'), (83, '요거트')]

In [12]:
%%sql
drop table cart_products

 * mysql://root:***@localhost/galaxy
0 rows affected.

[]